<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="assets/drone.svg" rel="icon" />
    <link href="style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect" />
    <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
  </head>

  <body>
    <div id="app">
      <div class="ui">
        <div class="score">
          score: {{ score }}
          <!-- <img class="drone" ref="drone" src="assets/drone.svg" v-bind:style="{ animation: isCrashed ? 'spin 1s ease-out 1' : ''}"> -->
        </div>

        <div class="controls" v-if="isStarted">
          <button @pointerdown="moveDrone('left')" @pointerup="moveDrone('left', true)" class="control-button">
            <
          </button>
          <button @pointerdown="moveDrone('right')" @pointerup="moveDrone('right', true)" class="control-button">
            >
          </button>
        </div>
        <div class="ui_lost-screen" v-if="!isStarted">
          <img class="disqual_pic" src="assets/disqualified.png" v-if="isLost" />
          <button @click="restart" class="start-button" v-if="!isStarted">START</button>
        </div>
      </div>

      <div
        :style="{ filter: !isStarted ? 'blur(4px)' : '', perspectiveOrigin: drone.pos.left + 'px ' + drone.pos.top + 'px' }"
        class="stage"
        ref="stage"
      >
        <img
          class="drone"
          ref="drone"
          src="assets/drone.svg"
          v-bind:style="{ top: drone.pos.top+'px', left: drone.pos.left+'px', transform: 'rotateY(' + droneRotateY + 'deg)', animation: isCrashed ? 'spin 1s ease-out 1' : '' }"
        />

        <div class="obstacles">
          <div v-bind:key="obstacle.id" v-for="(obstacle) in obstacles.list">
            <img
              :class="obstacle.type"
              :src="`assets/${obstacle.type}.svg`"
              v-bind:style="{ top: obstacle.top+'px', left: obstacle.left+'px' }"
            />
          </div>
        </div>
      </div>
      <div class="refs">
        <img class="gate" ref="gate" src="assets/gate.svg" />
        <img class="flag" ref="flag" src="assets/flag.svg" />
      </div>
    </div>
    <script src="main.js"></script>
  </body>
</html>
