body {
    font-family: 'Zen Dots', cursive;
    height: 100vh;
    /* background-color: red; */
    position: relative;
    margin: 0;
    overflow: hidden;
}

#app {
    position: relative;
    height: 100%;
    max-width: 500px;
    flex-direction: column;
    background-color: rgba(50, 178, 253, 0.914);
    margin: 0 auto;
}

.ui {
    z-index: 10;
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 500px;
}

.ui_lost-screen {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stage {
    height: 100%;
}

.gate {
    position: absolute;
    width: 60px;
    height: 60px;
    transform: scaleX(1.5);
}

.flag {
    width: 15px;
}

.drone {
    position: relative;
    width: 40px;
    height: 40px;
}

.disqual_pic {
    width: 40vh;
}

.spin {
    animation: spin 1s ease-out 1;
}

@keyframes spin {
    from {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}